html,
body {
  background-image: url("cool.jpg");
  overflow: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background: #1D2A35;*/
  background-repeat: repeat-x;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #fff8be;
  text-align: center;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
  color: #fff8be;
  text-align: auto;
  font-size: 45px;
  padding-left: 50px;
  font-weight: normal;
  padding-right: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p{
  color: #fff8be;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 35px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer{
  color: #fff8be;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

a{
  text-decoration: none;
  color: #fff8be;
}

a:hover{
  text-decoration: underline;
}

.carrousel{
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text{
  text-align: center;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.aligned-right{
  text-align: right;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
  border-radius: 50%;
}

/* ------------ RESPONSIVENESS ------------ */

@media (max-width: 800px) {
  ul, li{
   flex-direction: column;
  }
  
  p{
    font-size: 25px;
  }
  
  h1{
    font-size: 40px;
  }
  
  h2{
    font-size: 34px;
  }
  
  .profilepic{
    width: 210px;
    height: 150px;
    border-radius: 50%;
  }
  
  .btn{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 4px solid #356f96;
    border-radius: 0.8em;
    color: #fff8be;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}

/*NAV bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background: #1D2A35;*/
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
}

/*end of NAV bar */


/*Button start*/

.btn-effect {
  border-color: #3498db;
  color: #fff8be;
  opacity: 1;
  /*box-shadow: 0 0 40px 40px #0c0a31 inset, 0 0 0 0 #3498db;*/
  transition: all 150ms ease-in-out;
}
.btn-effect:hover {
  box-shadow: 0 0 10px 0 #0c0a31 inset, 0 0 10px 4px #3b3780;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #356f96;
  border-radius: 0.6em;
  color: #fff8be;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff8be;
  outline: 0;
}

/*Button end*/


/*

POSSIBLE COLORS

.main-text{
  text-align:center;
  background-color: #301A4B;
  padding: 20px;
}

.estudios{
  background-color: #1446A0;
  padding: 20px;
}

.habilidades{
  background-color: #CA054D;
  padding: 20px;
}

.experiencia{
  background-color: #6DB1BF;
  padding: 20px;
}

.lenguajes{
  background-color: #EBEBD3;
  padding: 20px;
}

.cursos{
  background-color: #087E8B;
  padding: 20px;
}

*/
